name: Prohunt
on: [push]

jobs:
  job1:
    environment:
     name: Testing
    env:
      DATABASE_USERNAME: ${{secrets.DATABASE_USERNAME}}
      DATABASE_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
      DATABASE_HOSTNAME: ${{secrets.DATABASE_HOSTNAME}}
      DATABASE_PORT: ${{secrets.DATABASE_PORT}}
      DATABASE_NAME: ${{secrets.DATABASE_NAME}}
    services:
      postgres:
       image: postgres
       env:
        POSTGRES_PASSWORD : ${{secrets.DATABASE_PASSWORD}}
        POSTGRES_DB: ${{secrets.DATABASE_NAME}}_test
       ports:
         - 5432:5432
       options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    runs-on: ubuntu-latest
    steps:
    - name: Pulling git repo
      uses : actions/checkout@v2
    - name: Say Helloworld 
      run : echo "Hello World" 
    - name: Install Python with specific version 
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
    - name: update-pip
      run: python -m pip install --upgrade pip
    - name: run requirements.txt
      run : pip install -r requirements.txt
    - name: Testing Application
      run : |
        pip install pytest
        pytest